<div class="main">
    <button class="bg"mat-raised-button color="warn" routerLink="/home">Back</button>

    <button class="bg" mat-raised-button color="primary"  routerLink="/owner/ownersignin">Sign in</button>

    <button class="bg" mat-raised-button color="accent"  routerLink="/owner/ownersignup">Sign up</button>

    <button class="bg" mat-raised-button color="primary"  (click)="newRegistration()">Registration</button>

    <button  class="btn btn-dark bg" routerLink="/owner/osucces">Hotel List</button>

    
</div>